# Python - Format Strings

## การจัดรูปแบบให้ String 

เราไม่สามารถรวม string กับ number เข้าด้วยกัน ดังตัวอย่าง

In [7]:
age = 38
txt = "ผมชื่อสมชาย อายุ " + age + "ปี"
print(txt)

TypeError: can only concatenate str (not "int") to str

ทางที่ดีควรใช้ method format() ในการจัดรูปแบบให้ string 

โดยใช้ placeholder {} เพื่อรับค่า argument เข้าไปจัดรูปแบบให้เป็น string

## ตัวอย่าง

ใช้ method format() เพื่อใส่ตัวเลขเข้าไปใน string

In [ ]:
age = 38
txt = "ผมชื่อสมชาย อายุ {} ปี"
print(txt.format(age))

ผมชื่อสมชาย อายุ 38 ปี

สามารถรับ argument กี่ตัวก็ได้ โดยจะแทนค่าเข้าไปใน placeholder ตามลำดับ

## ตัวอย่าง

In [ ]:
num = 2
order = 345
price = 67.89
sentence = "ไก่ {} ชิ้นของออเดอร์ที่ {} ได้แล้วค่ะ รวมแล้ว {} บาทค่ะ"
print(sentence.format(num, order, price))

ไก่ 2 ชิ้นของออเดอร์ที่ 345 ได้แล้วค่ะ รวมแล้ว 67.89 บาทค่ะ

สามารถใช้ index number ใส่ลงไปใน placeholder เพื่อกำหนดลำดับของ argument ให้ถูกต้อง

### <font color="lightblue"> Example

In [ ]:
num = 2
order = 345
price = 67.89
sentence = "จ่ายเงิน {2} บาท สำหรับออเดอร์ที่ {1} เรียบร้อยแล้วครับ ได้ไก่ทั้งหมด {0} ชิ้นครับ"
print(sentence.format(num, order, price))

จ่ายเงิน 67.89 บาท สำหรับออเดอร์ที่ 345 เรียบร้อยแล้วครับ ได้ไก่ทั้งหมด 2 ชิ้นครับ